@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap");

body {
  background-color: whitesmoke;
}

.title-row {
  background-color: #f0e4d3;

  h1 {
    font-family: "Alfa Slab One", serif;
    letter-spacing: 0.1rem;
    font-size: 2.5rem;
    padding: 0.5rem;
  }
}

.btn-invisible {
  display: none;
}
